
/* Font Styles ------------------------------------------*/

body{
	font: 1em/1 'Tenor Sans', sans-serif;
}

h1, h2{
	font: 2em/1 'Diplomata', cursive;
	background: grey;
}

a{
	font: 1em 'Homenaje', sans-serif;
}

#home{ 
	color: white;
	Background-color: black;
}



/* Float list for nav ------------------------------------*/

#home{
	float: left;
}

nav{
	float: right;
}

/* Header Nav display right ---------------------------*/

ul li{
	display: inline;
}

/*Clear Float ----------------------------------------*/

#div1{
	clear: both;
}

/* Float pic left to align first paragraph to the right of pic*/

#penguin1{
	float: left;
}

#more{
	clear: both;
}

#div2{
	-moz-column-count: 3;
}

/* Text Shadow  */

#film {
  text-shadow: 2px 2px 2px #000;
}

ol li {
  list-style-type: upper-roman;
}


/* Link info */

a:link{
	color: blue;
}

a:visited{
	color: purple;
}

a:hover{
	color: red;
}

a:active{
	color: grey;
}



/* Font Family Information

Heading Fonts (Display)

Diplomata:
<link href='http://fonts.googleapis.com/css?family=Diplomata' rel='stylesheet' type='text/css'>
font-family: 'Diplomata', cursive;

Paragraph Fonts (Sans-Serif)

Tenor Sans
<link href='http://fonts.googleapis.com/css?family=Tenor+Sans' rel='stylesheet' type='text/css'>
font-family: 'Tenor Sans', sans-serif; 

Link Fonts (Sans-Serif)

Homenaje
<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
font-family: 'Homenaje', sans-serif;

*/