
h1, h2{
	font: 2em/1 'Diplomata', cursive;
}

p{
	font: 1em/1 'Tenor Sans', sans-serif;
}

a{
	font-family: 'Homenaje', sans-serif;
}


/* Font Family Information

Heading Fonts (Display)

Diplomata:
<link href='http://fonts.googleapis.com/css?family=Diplomata' rel='stylesheet' type='text/css'>
font-family: 'Diplomata', cursive;

Paragraph Fonts (Sans-Serif)

Tenor Sans
<link href='http://fonts.googleapis.com/css?family=Tenor+Sans' rel='stylesheet' type='text/css'>
font-family: 'Tenor Sans', sans-serif; 

Link Fonts (Sans-Serif)

Homenaje
<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
font-family: 'Homenaje', sans-serif;

*/