
/*------- Font Styles, Header Setup, Global Rules ------*/
body{
	background: #99cccc url("../Imgs/bg_blue2.jpg") repeat-x;
	font: 1em/1 'Tenor Sans', sans-serif;
	width: 790px;
	margin: 0px auto;
}


header{
	overflow: hidden;
	background-color: black;
	height: 50px;
	margin-bottom: 5px;
}


footer{
	color: #FFF;
	background-color: black;
	margin-top: 5px;
	padding: 2px 2px;
}


h1, h2{
	font: 1.8em/1 'Diplomata', cursive;
	margin: 0px;
	padding: 10px 10px;
}



p{
	margin: 0px;
	padding: 10px 10px;
}


a{
	font: 1.3em 'Homenaje', sans-serif;
}


/* using body tag to hold default font for paragraphs ---------------------/
p{
	font: 1em/1 'Tenor Sans', sans-serif;
}*/



/*------------ h2 Text Shadow ------------------*/

h2{
	font-size: 1.5em;
	text-shadow: 2px 2px 2px #000;
}



/*------------ global Link States -------------*/

a:link{
	color: #339933;
}

a:visited{
	color: #F202FA;
}

a:hover{
	color: #0234FA;
}

a:active{
	color: #A68311;
}



/*---- home title font color, header styles, navlist ----*/

#home{ 
	color: white;
	float: left;
	
}

nav{
	float: right;
}

ul#navlist{
	list-style-type: none;
	float: right;
	
}

ul#navlist li{
	display: inline;

}

ul#navlist li a{
	margin: 0px 5px;
	float: left;
	padding: 0px 5px;
}

.mainnav{
	border: 2px solid black;
	
}

#div1{
	clear: both;
}




/*-- Float pic left to align first paragraph to the right of pic --*/

#penguin1{
	float: left;
}

#sectone{
	width: 510px;
	float: left;
}

#more{
	clear: both;
}

/*------------- multi colum for predators -------------*/

#div2{
	-moz-column-count: 3;
}



/*------------ change movie link list numbers ---------*/

ol li {
  list-style-type: upper-roman;
}



/*--------------Photo Gallery ul style-----------------*/

ul#gallery{
	overflow: hidden;
	border: 1px solid black;
	list-style-type: none;
	width: 555px;
	padding: 10px;
}

ul#gallery li{
	float: left;
	margin: 15px 0px 15px 15px;
}

ul#gallery li a{
	display: block;
	border: 10px solid #fff;
	height: 100px;
	width: 100px;
	outline: 0;
}

ul#gallery li a:link{
	border-color: #339933;
}

ul#gallery li a:visited{
	border-color: #F202FA;
}

ul#gallery li a:hover{
	border-color: #0234FA;
}

ul#gallery li a:active{
	border-color: #A68311;
}




/*--------------  -----------------*/

/* INFO

----Font Family Information----

Heading Fonts (Display)

Diplomata:
<link href='http://fonts.googleapis.com/css?family=Diplomata' rel='stylesheet' type='text/css'>
font-family: 'Diplomata', cursive;

Paragraph Fonts (Sans-Serif)

Tenor Sans
<link href='http://fonts.googleapis.com/css?family=Tenor+Sans' rel='stylesheet' type='text/css'>
font-family: 'Tenor Sans', sans-serif; 

Link Fonts (Sans-Serif)

Homenaje
<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
font-family: 'Homenaje', sans-serif;

-------- clearfix ----------

.clearfix{
	clear: both;
}

<div class="clearfix"></div>

-------- color info ---------

Link                #339933

Link visited        #F202FA

Link hover          #0234FA

Link active         #A68311

background color    #99cccc


*/
