
/*------- Font Styles, Header Styles, Global Rules ------*/
body{
	background: #99cccc url("../Imgs/bg_blue2.jpg") repeat-x;
	font: 1em/1 'Tenor Sans', sans-serif;
	max-width: 960px;
	margin: 0px auto;
}


header{
	overflow: hidden;
	background-color: #000;
	/*height: 40px;*/
	margin-bottom: 5px;
}


footer{
	color: #fff;
	background-color: black;
	margin-top: 5px;
	padding: 2px 0.253164556962%; /*2px*/
}


h1, h2{
	font: 1.6em/1 'Diplomata', cursive;
	margin: 0px 0.6329113924051%; 
	padding: 5px 0px; /*0.6329113924051%; 5px;*/
}



p{
	margin: 1.2658227848101%; /*10px;*/
}


a{
	font: 1em 'Homenaje', sans-serif;
}


/* using body tag to hold default font for paragraphs ---------------------/
p{
	font: 1em/1 'Tenor Sans', sans-serif;
}*/



/*------------ h2 Text Shadow ------------------*/

h2{
	font-size: 1.5em;
	text-shadow: 2px 2px 2px #000;
}



/*------------ global Link States -------------*/

a:link{
	color: #339933;
}

a:visited{
	color: #F202FA;
}

a:hover{
	color: #0234FA;
}

a:active{
	color: #A68311;
}



/*---- home title font color, navlist ----*/

#home{ 
	color: white;
	float: left;
	
}

nav{
	float: right;
	width: 28.4810126582278%;/*225px*/
}

ul#navlist{
	overflow: hidden;
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;
	width: 100%;
}

ul#navlist li{
	overflow: hidden;
	width: 33.333333%; /*75px;*/
	text-align: center;
	float: left;
}

ul#navlist li a{
	font-size: 1.3em;
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #393;
}

ul#navlist li a:visited{
	color: #F202FA;
}

ul#navlist li a:hover{
	color: #0234FA;
	background-color: #919191;
}

ul#navlist li a:active{
	color: #A68311;
	background-color: #fff;
}


#div1{
	clear: both;
}




/*-- Float pic left to align first paragraph to the right of pic, pic box, basic p indent --*/

#penguin1{
	float: left;
	width: 100%;
}

.imgbox{
 width: 35.4430379746835%;
}


#sectone{
	width: 64.556920253165%; /*510px*/
	float: left;
}

#more{
	clear: both;
}

.basics{
	margin: 0% 1.9607843137255%;
}

/*------------- multi colum for predators -------------*/

#div2{
	-moz-column-count: 3;
}



/*------------ change movie link list numbers ---------*/

ol li {
  list-style-type: upper-roman;
}



/*--------------Photo Gallery ul style-----------------*/


ul#gallery{
	overflow: hidden;
	/*border: 1px solid #000;*/
	list-style-type: none;
	padding: 1.8018018018%; /*10px;*/
}

ul#gallery li{
	float: left;
	margin: 15px 0px 15px 2.70270270270%; /*15px;*/
}

ul#gallery li a{
	display: block;
	border: 5px solid #fff;
	width:  100px;
	height: 100px;
	outline: 0;
}


ul#gallery li a img{
 width: 100px;
 height: 100px;
}

ul#gallery li a:link{
	border-color: #339933;
}

ul#gallery li a:visited{
	border-color: #F202FA;
}

ul#gallery li a:hover{
	border-color: #0234FA;
}

ul#gallery li a:active{
	border-color: #A68311;
}


/*--------- div3, table, form, backgroud opacity on div3 -----------*/

#div3{
	overflow: hidden;
	border: 4px solid #000;
	-moz-border-radius: 10px;
	padding: 10px 1.0416666666667%; /*10px;*/
	/*background: rgba(81, 81, 82, 0.5); /*#515152;*/
	background-image: url(../Imgs/frost1.jpg);
	height: 520px;
	width: 96.5%; /*960px;*/
}


#donation_container{
	float: left;
	border: 1px solid #000;
	width: 48.958333333%;
	height: 480px;
	background-color: #999;
	-moz-border-radius: 10px;
}

.h_center{
	text-align: center;
	margin-bottom: 5px;
}

#table_1{
	border-collapse: collapse;
	border: 3px solid #000;
	margin: 0 auto;	
	background-color: #66ffcc;
	height: 300px;
}

#table_1 th{
	height: 50px;
	padding: 1.2em;
}

#table_1 td{
	border: 1px solid #000;
	padding: .3em;
	background-color: #fff;
}


#form_container{
	float: left;
	border: 1px solid #000;
	width: 48.958333333%;
	height: 480px;
	background-color: #999;
	-moz-border-radius: 10px;
}

div#fcon2{
	margin: 0 auto;
	width: 90%;
	background: #fff;
	position: relative;
	/*top: 50px;*/
	border: 1px solid black;
	padding: .5em;
}

div#fcon2 label{
	margin: 5px 0px;
	width: 100%;
	display: block;
	padding 10px 0 10px 0;
}
#contact_me{
float: left;
margin-right: 10px;
}

#message{
	margin-top: 5px;
}
div#f8{
	margin-top: 10px;
}

.clearfix{
	clear: both;
}

/*-- button - does not validate didnt get to make the changes i would like to the button --*/

a.button {
	float: right;
	color: #BEFFFF;
	margin-top: 10px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
a.button:hover {
	text-decoration: none;
	color: #DE7F00;
}
a.button:active {
	position: relative;
	top: 1px;
	color: #DE0000;
}

.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}



#end{
	clear: both;
}



/* Media Queries------------------------------------------------------------------------------  */

/* Tablet Portrait to standard 960*/
@media screen and (min-width: 768px) and (max-width: 959px) {
	/* background color changes to indicate size change, should be removed */
	/*body {
	background-color: green;
	}*/
	#sectone{
	width: 64.0355438193798%;
	}
	.imgbox {
	margin-left: 0.5213764337852%;
	}
	
}
/* mobile landscape to tablet portrait*/
@media screen and (min-width: 480px) and (max-width: 767px) {
	
	/*body{
	background-color: orange;
	}*/
	#home{
	width: 50%;
	}
	nav{ /* Adjusted to fit screen and be easier to use with touchscreen */
	width: 40%;
	padding-top: 11px;
	}
	ul#navlist li a{
	font-size: 1.6em;
	}
	#penguin1{
	float: none;
	}
	#sectone{
	width: 100%;
	}
	.basics{
	margin: 1.2658227848101%;
	}
	.imgbox {
	margin-left: 0.5213764337852%;
	}
	#div3{
	width: 96%;
	height: 800px;
	}
	#donation_container{
	float: none;
	width: 98%;
	height: 260px;
	margin: 5px 1%;
	}
	#form_container{
	float: none;
	width: 98%;
	height: 475px;
	margin: 5px 1%;
	}
	ol li{ /* spaced ol links for easier use on touch screens */
	margin: 5px 0px;
	}
	ul#gallery li{
	float: none;
	}
	#table_1{
	height: 200px;
	}
	#table_1 th{
	height: 30px;
	}
}


/* mobile portrait to mobile landscape*/
@media screen and (max-width: 479px) {
	/*body {
	background-color: grey;
	}*/
	/* copied from the previous size commented out are altered */
	#home{
	width: 100%;/*50%*/
	}
	nav{ /* Adjusted to fit screen and be easier to use with touchscreen */
	width: 100%; /*40px*/
	/*padding-top: 11px;*/
	}
	ul#navlist li a{
	font-size: 1.6em;
	}
	#penguin1{
	float: none;
	}
	#sectone{
	width: 100%;
	}
	.basics{
	margin: 1.2658227848101%;
	}
	.imgbox {
	margin-left: 0.5213764337852%;
	}
	#div3{
	width: 96%;
	height: 800px;
	}
	#donation_container{
	float: none;
	width: 98%;
	height: 260px;
	margin: 5px 1%;
	}
	#form_container{
	float: none;
	width: 98%;
	height: 475px;
	margin: 5px 1%;
	}
	/* added to this size specifically */
	
	#home{
	float: none;
	text-align: center;
	}
	nav{
	float: none;
	margin-top: 10px;
	}
	h2{
	font-size: 1.2em;
	}
	p{
	font-size: .9em;
	}
	#penguin1{
	display: none;
	}
	#div2{
	-moz-column-count: 1;
	}
	ol li{ /* spaced ol links for easier use on touch screens */
	margin: 5px 0px;
	}
	ul#gallery{
	max-width: 340px;
	}
	#table_1 th{
	padding: .5em;
	height: 30px;
	}
	#table_1{
	height: 200px;
	}
}





/*--------------  -----------------*/

/* INFO

----Font Family Information----

Heading Fonts (Display)

Diplomata:
<link href='http://fonts.googleapis.com/css?family=Diplomata' rel='stylesheet' type='text/css'>
font-family: 'Diplomata', cursive;

Paragraph Fonts (Sans-Serif)

Tenor Sans
<link href='http://fonts.googleapis.com/css?family=Tenor+Sans' rel='stylesheet' type='text/css'>
font-family: 'Tenor Sans', sans-serif; 

Link Fonts (Sans-Serif)

Homenaje
<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
font-family: 'Homenaje', sans-serif;

-------- clearfix ----------

.clearfix{
	clear: both;
}

<div class="clearfix"></div>


-moz-border-radius: 10px 30px

-------- color info ---------

Link                #339933

Link visited        #F202FA

Link hover          #0234FA

Link active         #A68311

Nav border color    #2D2D2E

background color    #99cccc


*/
